/* RESET */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
}

/* HEADER */
header {
    background-color: #111;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #00aaff;
    margin-bottom: 10px;
}

/* NAV */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav li {
    color: white;
}

nav a {
    text-decoration: none;
    color: #00aaff;
}

nav a:hover {
    color: white;
}

/* MAIN */
main {
    padding: 30px;
    text-align: center;
}

/* SECCIONES */
section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #2a2a2a;
    border-radius: 10px;
}

/* TITULOS */
h2 {
    color: #00aaff;
    margin-bottom: 15px;
    font-style: bold;
}


/* TEXTO */
p {
    margin-bottom: 15px;
    line-height: 1.5;
}

/* LINKS GENERALES */
a {
    color: #00aaff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* IMAGEN */
.imagen {
    text-align: center;
}

img {
    width: 300px;
    border-radius: 10px;
    margin: 20px 0;
    border: 2px solid white;
}

img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* LISTAS */
ol {
    display: inline-block;
    text-align: left;
    margin-top: 15px;
}

li {
    margin-bottom: 10px;
}

/* TEXTO ESPECIAL */
.subrayado {
    text-decoration: underline;
    font-weight: bold;
}

/* FOOTER */
footer {
    background-color: #111;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

/* CONTENEDOR DE CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* permite bajar en celular */
    margin-top: 20px;
}

/* TARJETAS */
.card {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    width: 230px;
    text-align: center;
    transition: 0.3s;
}

/* ICONO */
.card p {
    font-size: 30px;
    margin-bottom: 10px;
}

/* TITULO */
.card h3 {
    margin-bottom: 10px;
}

/* LINK */
.card a {
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;

}

/* HOVER (efecto pro) */
.card:hover {
    transform: translateY(-5px);
    background-color: #333;
}

/* ICONOS */
.card i {
    font-size: 30px;
    margin-bottom: 10px;
}

/* COLORES POR RED (detalle pro) */
.fa-linkedin {
    color: #0077b5;
}

.fa-instagram {
    color: #dd2a7b;
}

.fa-envelope {
    color: #ffc832;
}

.fa-phone {
    color: #25d366;
}

/* RESPONSIVE */
@media (max-width: 600px) {

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    section {
        padding: 15px;
    }

    img {
        max-width: 100%;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}
